body{
    font-family: 'PT Serif', serif;
font-family: 'Roboto Slab', serif;
margin: 0%;
}
h1{
    font-size: 45px;
}
.color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 10%;
}
.size{
    width: 50%;
    padding-left: 10%;
}
.size img{
    width: 64%;
}

.button{
     text-decoration: none;
    background-color: orange;
     padding: 2px 10px;
     color: aliceblue;
     font-size: 100%;
     border-radius: 5px;
     
    
}
.banner{
    background-image: url(project.photo/Frame\ 57.jpg);
    background-repeat: no-repeat;
}